{% extends "welcome/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %} <link href="{% static "users/login.css" %}" rel="stylesheet" id="bootstrap-css">
  <div class="content-section reg-pad">
    <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Reset Password</legend>
        {{ form|crispy }}
      </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Reset Password</button>
      </div>
    </form>
  </div>
{% endblock content %}

