{% extends "welcome/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %} <link href="{% static "users/login.css" %}" rel="stylesheet" id="bootstrap-css">
{% load static %} <link href="{% static "users/view_bookings.js" %}" rel="stylesheet" id="bootstrap-css">


<table class="table table-condensed table-hover">
	<thead>
		<tr>
			<!-- <th class="tabco2" >Booked By </th>
			<th class="tabco3"> Phone Number </th> -->
			<th class="tabco4" > Feedback </th>
		</tr>
	</thead>
	<tbody>
		{% for x in Feedback %}
			
				<tr class = "row_format">
					<!-- <td class = "tabco2">{{ x.driver_name }}</td>
					<td class = "tabco3">{{ x.phone_no }}</td> -->
			        <td class = "tabco4">{{ x.user_feedback }}</td>
			        
				</tr>
			
		{% endfor %}
	</tbody>
</table>
{% endblock content %}